{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block content %}
<div id="content-main">
    <h1>{% trans "Create Front Desk User" %}</h1>

    <form method="post" class="admin-form">
        {% csrf_token %}

        <fieldset class="module aligned">
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="form-row{% if field.errors %} errors{% endif %}">
                    {{ field.errors }}
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </fieldset>

        <div class="submit-row">
            <input type="submit" value="{% trans 'Save' %}" class="default">
            <a href="{% url 'admin:user_details_user_changelist' %}" class="button cancel-link">{% trans "Cancel" %}</a>
        </div>
    </form>
</div>
{% endblock %}
